body {
  background: #f0f2f5;
}

.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-card-head-title {
}


.App-intro {
  font-size: large;
}

.ant-list-item-content{
  justify-content: center
}

.create-quiz-button {
  display: flex;
  align-items: center;
}

.card {

 }
 .correct {
   color: green;
 }
 .incorrect {
   color: red;
 }
