#root, .ant-layout {
  height: 100%;
}

.ant-layout-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ant-card-head-title {
}


.App-intro {
  font-size: large;
}


.create-quiz-button {
  display: flex;
  align-items: center;
}

.card {

 }
